@model IEnumerable<Grater.Models.Therapist>
@using Microsoft.AspNet.Identity


@{
    ViewBag.Title = "Therapist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Therapist</h2>
<p>
    @{
        int userten = User.Identity.GetUserId<int>();
    }
    @{ if (User.IsInRole("Therapist"))
        {@Html.ActionLink("Edit", "Edit/" + userten)}
    }
    @*    Wywalic to kreate nizej do demo*@
    @Html.ActionLink("Create New", "Create")

</p>
@using (Html.BeginForm("index", "therapist", FormMethod.Get))
{
    <table class="table-condensed">
        <tr>
            <th>Search by name:</th>
            <th>Search by city:</th>

        </tr>
        <tr>
            @* <td> @Html.TextBoxFor(m=>m.th)</td> *@

            <td> @Html.TextBox("searchString")</td>
            <td> @Html.TextBox("searchString1")</td>
        </tr>
        <tr>
            <td> <input type="submit" value="Search" />   @*value - label*@</td>

        </tr>
    </table>

}
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TherapistName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RatingAvg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RatingCount)
        </th>

        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.ActionLink(item.TherapistName, "Details", new { id = item.TherapistId }, null)

            </td>


            <td>
                @Html.DisplayFor(modelItem => item.City)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RatingAvg)/5
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RatingCount)
             </td>
            @if (item.RatingAvg >4)
            {
         
            }



            <td>
                @{if (User.IsInRole("Admin"))
                    {@Html.ActionLink("Edit", "Edit", new { id = item.TherapistId })}
                }

                @*
                    @Html.ActionLink("Details", "Details", new { id = item.TherapistId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.TherapistId })  *@
            </td>
        </tr>
    }
</table>
