@model Grater.Models.Event

@{
    ViewBag.Title = "Details";
}

<h2>Event Details</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ArticleTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArticleTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArticleBody)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArticleBody)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThisDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThisDateTime)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.WhoAdd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDate)
        </dd>


    </dl>
</div>

@foreach (var item in Model.ArticleComments)
{


    <div class=" col-md-9">
        <i>@item.ThisDateTime</i>
        <i>@item.ByWho</i>
    </div>
    <blockquote>
        <div class="col-md-3">
            @Html.Raw(item.CommentContent.Replace("\n", "<br/>"))
        </div>
        <p> </p>
    </blockquote>


}
@Html.Partial("_PostBox")
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ArticleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
