@model IEnumerable<Grater.Models.Event>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ArticleTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventDate)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.ArticleTitle, "Details", new { id = item.ArticleId }, null)
            @Html.DisplayFor(modelItem => item.ThisDateTime)

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventDate)
        </td>


        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ArticleId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ArticleId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ArticleId })
        </td>
    </tr>
}

</table>
