@model Grater.ViewModels.TherapistIndexData

@{
    ViewBag.Title = "Salons";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           City
        </th>
        <th>
           Salon Name
        </th>
        <th>
            Address
        </th>
        <th>

        </th>
        <th></th>
    </tr>

   @foreach (var item in Model.Salons) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.City)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SalonName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Address)
    </td>
    <td>
        @{
            foreach (var therapist in item.Therapists)
            {
                @therapist.User.Email @: , @Html.ActionLink(therapist.TherapistName,"~/Therapist/Details", new { id = therapist.TherapistId }, null)  @therapist.TherapistSurname <br />
            }
        }

    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>  
    }

</table>
