@model Grater.Models.User
@{
    ViewBag.Title = "Details";
}


<div>

    <table class="table-condensed">
        <tr>
            <th>@Model.UserName</th>
        </tr>
        <tr><td>@Model.UserImage</td></tr>

        <tr><td>@Model.UserCity</td></tr>

        <tr><td>@Model.Ranking</td></tr>

        <tr><td>@Model.UserDescription</td></tr>

    </table>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>