
@model IEnumerable<Grater.Models.Finder>

@{
    ViewBag.Title = "Admin";
}

<h2>Find your Therapist</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table1-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ArticleTitle)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.WhereLastSeen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WhatSpeciality)
        </th>
        <th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.ArticleTitle, "Details", new { id = item.ArticleId }, null)
                @Html.DisplayFor(modelItem => item.ThisDateTime)

            </td>

            <td>
                @Html.DisplayFor(modelItem => item.WhereLastSeen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhatSpeciality)
            </td>


            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ArticleId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ArticleId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ArticleId })
            </td>
        </tr>
    }

</table>
