@model Grater.Models.Finder

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Finder</h4>


    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.ArticleTitle, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ArticleTitle, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ArticleTitle, "", new { @class = "text-danger" })
            <p>Title of the Post</p>
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.WhenLastSeen, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.WhenLastSeen, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.WhenLastSeen, "", new { @class = "text-danger" })
            <p>Let everybody know when did you seen this person last time. Most accure date (eg year)</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.WhereLastSeen, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.WhereLastSeen, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.WhereLastSeen, "", new { @class = "text-danger" })
            <p>Let everybody know where last time did you seen this person. What City/Salon</p>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.WhatSpeciality, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.WhatSpeciality, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.WhatSpeciality, "", new { @class = "text-danger" })
            <p>Let everybody know what was specility of this person. It was make-up artist, full stack beautician etc.</p>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.ArticleBody, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.ArticleBody, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ArticleBody, "", new { @class = "text-danger" })
            <p>Tell us more. You can give some thips how this person looks like, what was her/his age etc.</p>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
