
@model IEnumerable<Grater.Models.Job>

@{
    ViewBag.Title = "Job Offers";
}

<h2>Job Offers, Admin</h2>
@{ if (User.IsInRole("Admin"))
    { @Html.ActionLink("Manage Page", "AdminIndex")}
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table1-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ArticleTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Localization)
        </th>


    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.ArticleTitle, "Details", new { id = item.ArticleId }, null)
                @Html.DisplayFor(modelItem => item.ThisDateTime)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localization)
            </td>


            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ArticleId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ArticleId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ArticleId })
            </td>
        </tr>
    }

</table>
