
@{
    ViewBag.Title = "IndexMain";
}

<h2>Welcome to forum!</h2>
<div class="row">
    <div class="col-md-8"><h5> Arcitles, something about new beauty techniques, brands and treatments</h5></div>
</div>
<div class="row">
    <div class="col-md-8"> <h4>  @Html.ActionLink("Beauty Articles", "Index", "BeautyArticle")</h4> </div>
    <div class="col-md-4">@Html.ActionLink("Add New Article", "Create", "BeautyArticle")</div>
</div>

<div class="row">
    <div class="col-md-8"><h5> Page dedicated job offers. For employers and employees. </h5></div>
</div>
<div class="row">
    <div class="col-md-8"><h4>  @Html.ActionLink("Job", "Index", "Job") </h4></div>
    <div class="col-md-4">@Html.ActionLink("Add New Job Offer", "Create", "Job")</div>
</div>

<div class="row">
    <div class="col-md-8"><h5> Find your specialist! Give us details about the person and we will try to find her/him out!</h5></div>
</div>
<div class="row">
    <div class="col-md-8"> <h4>  @Html.ActionLink("Finder", "Index", "Finder")</h4> </div>
    <div class="col-md-4">@Html.ActionLink("Add New WANTED Post", "Create", "Finder")</div>
</div>
<div class="row">
    <div class="col-md-8"><h5>Place with informatins about beauties events </h5></div>
</div>
<div class="row">
    <div class="col-md-8"><h4>   @Html.ActionLink("Event", "Index", "Event")</h4> </div>
    <div class="col-md-4">@Html.ActionLink("Add New Event", "Create", "Event")</div>
</div>