
@{
    ViewBag.Title = "IndexMain";
}

<h2>Welcome to forum!</h2>
<div class="row">
    <div class="col-md-8"><h4> Arcitles, something about beauti bleble</h4></div>
</div>
<div class="row">
    <div class="col-md-8">   @Html.ActionLink("BeautyArticle", "Index", "BeautyArticle") </div>
    <div class="col-md-4">@Html.ActionLink("Add New Article", "Create", "BeautyArticle")</div>
</div>

<div class="row">
    <div class="col-md-8"><h4> Page dedicated job offers. For employers and employees. </h4></div>
</div>
<div class="row">
    <div class="col-md-8">   @Html.ActionLink("Job", "Index", "Job") </div>
    <div class="col-md-4">@Html.ActionLink("Add New Job Offer", "Create", "Job")</div>
</div>

<div class="row">
    <div class="col-md-8"><h4> Find your specialist! Give us details about the person and we will try to find her/him out!</h4></div>
</div>
<div class="row">
    <div class="col-md-8">   @Html.ActionLink("Finder", "Index", "Finder") </div>
    <div class="col-md-4">@Html.ActionLink("Add New WANTED Post", "Create", "Finder")</div>
</div>
<div class="row">
    <div class="col-md-8"><h4>Place with informatins about beauties events </h4></div>
</div>
<div class="row">
    <div class="col-md-8">   @Html.ActionLink("Event", "Index", "Event") </div>
    <div class="col-md-4">@Html.ActionLink("Add New Event", "Create", "Event")</div>
</div>